<html>

<!-- Not this one... -->
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Shoulders, Knees and Toes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <h2 style="text-align: center;">How does the song go?</h2>
    </div>
    <div class="row justify-content-center" style="text-align: center;">
        <!-- It isn't here either... -->
        <form action="/shoulders" method="POST">
          <button type="submit" class="btn btn-primary">Shoulders</button>
        </form>
        <form action="/knees" method="POST">
          <button type="submit" class="btn btn-primary">Knees</button>
        </form>
        <form action="/toes" method="POST">
          <button type="submit" class="btn btn-primary">Toes</button>
        </form>
    </div>

  </div>
</body>

<!-- Where else might we find it? -->
</html>